* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* Убедитесь, что все контейнеры не выходят за границы */
div {
  max-width: 100%;
}

.main-background {
  display: flex;
  background-color: #F3EBDD;
}

#root {
  min-height: 100vh;
  width: 100%;
  background-color: #F3EBDD;
  padding: 0;

}

.form-header {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 100px;
}

.form-header h2 {
  font-size: 1.8rem;
  color: #F3EBDD;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: normal;
  line-height: 1.4;
}

.events-title {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 10px;
  color: #F3EBDD;
  background-color: #2A2922;
  padding: 10px 50px 10px 50px;
  font-family: "Comforter Brush", cursive;
  font-weight: 100;
  font-style: normal;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  z-index: 10;
  position: absolute;
}

.secondary-background {
  width: 90%;
  background-color: #506D2F;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}



/* 506D2F */